<div class="l-layout l-full-width l-home cf">
  <div class="content-container cf how-sections-container">
    <!-- START .content-column -->
    <div class="content-column">

      <!-- START .main -->
      <div id="main" tabindex="-1" role="main">

        <div>
          <div class="how-section">
            <div class="landing-image-container">
              <div class="content-container l-padding" ng-cloak>
                <div layout="column" layout-padding layout-margin layout-align="center center" layout-fill layout-align="stretch" class="heading-container">

                  <h1 class="section-heading">
                    How It Works
                  </h1>
                  <div class="divider"></div>
                  <h5 class="section-heading section-sub-heading">Proquo introduces a unique way for Australian businesses to work together</h5>
                </div>
              </div>
            </div>
          </div>

          <!-- START TRADING -->
          <div class="how-section" id="start-trading">
            <div class="section-how" >
              <div class="l-padding">
                <h4 class="section-heading">
                  Start trading in 3 easy steps
                </h4>

                <div class="start-trading-container">
                  <div class="line" hide-xs></div>

                  <div layout="column" layout-gt-xs="row" layout-align=" center start" layout-padding>
                    <div layout="column" layout-align="start center" layout-padding>
                      <div class="steps-containter">
                        <div class="steps">1</div>
                      </div>
                      <h5>Join for free</h5>
                      <p>Create a profile and share
                        skills you can offer and skills
                        you need</p>
                    </div>

                    <div layout="column" layout-align="start center" layout-padding>
                      <div class="steps-containter">
                        <div class="steps">2</div>
                      </div>
                      <h5>Connect</h5>
                      <p>Find other members who
                        match what you can offer,
                        or what you need</p>
                    </div>

                    <div layout="column" layout-align="start center" layout-padding>
                      <div class="steps-containter">
                        <div class="steps">3</div>
                      </div>
                      <h5>Swap or Pay</h5>
                      <p>Chat in real time
                        and agree if a swap
                        will work or payment</p>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- EXAMPLES -->
          <div class="example-section l-padding">
            <div layout="column" layout-align="center center" class="example-column">
              <h4 class="example-header">Here's how it can work...</h4>
              <div class="example-row" layout="column" layout-gt-xs="row" layout-align="center center">
                <div flex="25">
                  <div layout-align="center center">Jo:</div>
                  <div><img class="example-img" src="/assets/images/how-example/jo.png"></div>
                  <div>Accounting Service</div>
                </div>
                <div flex="10"><i class="icon icon-swap"></i></div>
                <div flex="25">
                  <div>Ben:</div>
                  <div><img class="example-img" src="/assets/images/how-example/ben.png"></div>
                  <div>Web Design Project</div>
                </div>
                <div flex="40" class="example-desc"><p>Jo swaps her accounting services with Ben’s web design services - no money is exchanged</p></div>
              </div>

              <div class="example-row" layout="column" layout-gt-xs="row" layout-align="center center">
                <div flex="25">
                  <div>Megan:</div>
                  <div><img class="example-img" src="/assets/images/how-example/megan.png"></div>
                  <div>Search engine marketing strategy</div>
                </div>
                <div flex="10"><i class="icon icon-swap"></i></div>
                <div flex="25">
                  <div>James:</div>
                  <div><img class="example-img" src="/assets/images/how-example/james.png"></div>
                  <div>IT Service</div>
                </div>
                <div flex="40" class="example-desc"><p>Megan swaps search engine marketing (SEM) strategy help with James' IT services
                - Megan puts in more work than James so James also pays Megan $200.</p></div>
              </div>

              <div class="example-row example-bottom-row" layout="column" layout-gt-xs="row" layout-align="center center">
                <div flex="25">
                  <div>Ben:</div>
                  <div><img class="example-img" src="/assets/images/how-example/ben.png"></div>
                  <div>Web Design Project</div>
                </div>
                <div flex="10"><i class="icon icon-dollar"></i></div>
                <div flex="25">
                  <div>Sarah:</div>
                  <div><img class="example-img" src="/assets/images/how-example/sarah.png"></div>
                  <div>Logo Design</div>
                </div>
                <div flex="40" class="example-desc"><p>Ben just wants a logo created and pays Sarah $200</p></div>
              </div>
            </div>
          </div>

          <!-- DESCRIPTION -->
          <div class="how-section">
            <div class="section-activity">
              <div class="l-padding">
                <div layout="column" layout-gt-xs="row" layout-padding layout-align="center start"  class="desciption" >
                  <div>
                    <div class="img-container"><img src="assets/images/img_connect.png"></div>
                    <div><h5>A community of small businesses </h5></div>
                    <div>
                      <p>We know that business already swap services to get things done cost effectively. Proquo is a community of Australian
                         business who can help each other get ahead by swapping services and referring customers
                      </p>
                    </div>
                  </div>
                  <div >
                    <div class="img-container"><img src="assets/images/img_refer.png"></div>
                    <div><h5>Quality Australian suppliers </h5></div>
                    <div>
                      <p>Proquo members are ABN checked and can provide detailed information about their qualifications and previous work,
                         so you can make an informed decision about who you work with
                      </p>
                    </div>
                  </div>
                  <div>
                    <div class="img-container"><img src="assets/images/img_swap.png"></div>
                    <div><h5>Our protection and support</h5></div>
                    <div>
                      <p>Our robust briefing and quoting process protects you when swapping and transacting on Proquo. We have a dedicated team
                         that is here to help you at every stage of the process.
                      </p>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          <div class="background-circle">
            <div class="l-padding">
              <div layout="column" layout-align="center" layout-padding class="guarantee-section" >
              <h4 class="center-align">What are the costs</h4>
                <div layout="row" layout-align="start start" >
                  <i class="icon icon-tick-circle"></i>
                  <div>It's free to join and get access to all the great features we offer</div>
                </div>
                <div layout="row" layout-align="start start" >
                  <i class="icon icon-tick-circle"></i>
                  <div>A 10% fee is applied to the paid component (if there is one) of transactions.
                    This fee is charged to the service providers.</div>
                </div>
                <div layout="row" layout-align="start center">
                  <i class="icon icon-tick-circle"></i>
                  <div>There are no fees for straight swaps</div>
                </div>
              </div>
            </div>
            <img class="background-circle-img" src="/assets/images/icon_tick_circle.svg">
          </div>
          <div class="section-activity section-signup" ng-if="!vm.isLoggedIn()">
            <div class="l-padding">
              <form id="signupEmailFormOnHow" class="form registration-form" name="form"
                    ng-submit="vm.signUp(form)" novalidate autocomplete="off">
                <div layout="column" layout-align="center center" layout-padding>
                  <h6>Get Started</h6>
                    <div class="email-input-container" layout-xs="column" layout-gt-xs="row">
                      <md-input-container>
                        <input class="email-input" required autocomplete="false" placeholder="Email address" aria-label="email" type="email"
                               name="email" spellcheck="false" ng-model="vm.email" minlength="4" maxlength="100" ng-pattern="/^.+@.+\..+$/">
                        <md-button class="btn btn-raised join-now-btn" type="submit" ng-cloak>Join Now <md-icon class=" icon icon-pointer-right"></md-icon></md-button>
                        <div ng-messages="form.email.$error" role="alert">
                          <div ng-message-exp="['minlength','required', 'pattern']">This is required and must be a valid email address</div>
                        </div>
                      </md-input-container>
                    </div>
                </div>
              </form>
              </div>
            </div>
        </div>

      </div>

    </div>
    <!-- END .content-column -->
  </div>
</div>
</div>
