.pay-screen {

  section {
    margin-bottom: 10px;
    .content {
      background-color: white;
      padding: 10px 20px;
      font-weight:900;
    };

    .section-header {
      font-size: 24px;
      font-weight:bolder;
    }
  }

  .pay-detail{
    background:$white;
    padding:20px 10px;
  }

  .promisepay-widget{
    &.md-button.md-raised{
      background-color:$dd-dark-blue;
      &:hover{
        background-color:$dd-dark-blue;
      }
    }
    .promisepay-action a#promisepay-action {
      border-radius: 25px !important;
      text-transform: capitalize !important;
      line-height: 30px !important;
      height: auto !important;
      background:$dd-dark-blue !important;
    }
  }
}
