<div class="star-rating">
  <md-button class="btn-star" ng-class="rating >= 1 ? 'filled' : ''" ng-click="rating=1" ng-disabled="ratingDisabled">
    <i class="material-icons">star_rate</i>
  </md-button>
  <md-button class="btn-star" ng-class="rating >= 2 ? 'filled' : ''" ng-click="rating=2" ng-disabled="ratingDisabled">
    <i class="material-icons">star_rate</i>
  </md-button>
  <md-button class="btn-star" ng-class="rating >= 3 ? 'filled' : ''" ng-click="rating=3" ng-disabled="ratingDisabled">
    <i class="material-icons">star_rate</i>
  </md-button>
  <md-button class="btn-star" ng-class="rating >= 4 ? 'filled' : ''" ng-click="rating=4" ng-disabled="ratingDisabled">
    <i class="material-icons">star_rate</i>
  </md-button>
  <md-button class="btn-star" ng-class="rating >= 5 ? 'filled' : ''" ng-click="rating=5" ng-disabled="ratingDisabled">
    <i class="material-icons">star_rate</i>
  </md-button>
</div>
