list-reveal{
  height:auto;
  .reveal-container{
    padding-bottom:35px;
    position:relative;
    overflow:hidden;
    transition:max-height 0.5s;
    .reveal-btn{
      position: absolute;
      left:50%;
      margin-left:-10px;
      bottom:0;
      width: 20px;
      height:20px;
      border-radius:50%;
      background:$dd-dark-grey;
      color:$white;
      cursor:pointer;

      z-index: 10;
      padding:5px;
      .icon-pointer-right{
        transition-delay: 0.7s;
        transition:0.3s;
        transform: rotate(90deg);
        margin-top: 5px;
        @include font-size(15, 12);
      }
    }
    .cover{
      position:absolute;
      left:0;
      right:0;
      height:100%;
      min-height:100px;
      width:100%;
      transition:opacity 0.5s;
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.55) 50%,rgba(255,255,255,1) 91%);
      opacity:1;
      z-index: 9;
    }

    &.reveal-show{
      transition:max-height 0.5s;
      max-height:1000px !important;
      height:auto !important;
      .cover{
        transition:opacity 0.5s;
        opacity:0;
      }
      .icon-pointer-right{
        transition-delay: 0.8s;
        transition:0.5s;
        margin-top: 0;
        transform: rotate(270deg);
      }
    }

  }

}
